<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.millionaire.millionaireadminservice.dao.BackstageUsersMapper">
  <resultMap id="BaseResultMap" type="com.millionaire.millionaireadminservice.module.BackstageUsers">
    <constructor>
      <idArg column="id" javaType="java.lang.Long" jdbcType="BIGINT" />
      <arg column="name" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="password" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="salt" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="phone" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="role_id" javaType="java.lang.Long" jdbcType="BIGINT" />
      <arg column="gmt_update" javaType="java.lang.Long" jdbcType="BIGINT" />
      <arg column="gmt_create" javaType="java.lang.Long" jdbcType="BIGINT" />
      <arg column="founder" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="modifier" javaType="java.lang.String" jdbcType="VARCHAR" />
    </constructor>
  </resultMap>
  <resultMap id="BackstageUsers" type="com.millionaire.millionaireadminservice.module.BackstageUsers">
    <id property="id" column="id"/>
    <result property="name" column="name"/>
    <result property="password" column="password"/>
    <result property="salt" column="salt"/>
    <result property="phone" column="phone"/>
    <result property="roleId" column="role_id"/>
    <result property="gmtUpdate" column="gmt_create"/>
    <result property="gmtCreate" column="gmt_update"/>
    <result property="founder" column="founder"/>
    <result property="modifier" column="modifier"/>
  </resultMap>
  <sql id="Base_Column_List">
    id, name, password, salt, phone, role_id, gmt_update, gmt_create, founder, modifier
  </sql>
  <select id="findAll" resultMap="BackstageUsers">
    SELECT
    <include refid="Base_Column_List"/>
    FROM backstage_users
  </select>

  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from backstage_users
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from backstage_users
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.millionaire.millionaireadminservice.module.BackstageUsers" useGeneratedKeys="true" keyProperty="id">
    insert into backstage_users (name, password,
      salt, phone, role_id,
      gmt_update, gmt_create, founder, 
      modifier)
    values (#{name,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR},
      #{salt,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR}, #{roleId,jdbcType=BIGINT},
      #{gmtUpdate,jdbcType=BIGINT}, #{gmtCreate,jdbcType=BIGINT}, #{founder,jdbcType=VARCHAR}, 
      #{modifier,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.millionaire.millionaireadminservice.module.BackstageUsers" useGeneratedKeys="true" keyProperty="id">
    insert into backstage_users
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="name != null">
        name,
      </if>
      <if test="password != null">
        password,
      </if>
      <if test="salt != null">
        salt,
      </if>
      <if test="phone != null">
        phone,
      </if>
      <if test="roleId != null">
        role_id,
      </if>
      <if test="gmtUpdate != null">
        gmt_update,
      </if>
      <if test="gmtCreate != null">
        gmt_create,
      </if>
      <if test="founder != null">
        founder,
      </if>
      <if test="modifier != null">
        modifier,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="salt != null">
        #{salt,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="role_id != null">
        #{roleId,jdbcType=BIGINT},
      </if>
      <if test="gmtUpdate != null">
        #{gmtUpdate,jdbcType=BIGINT},
      </if>
      <if test="gmtCreate != null">
        #{gmtCreate,jdbcType=BIGINT},
      </if>
      <if test="founder != null">
        #{founder,jdbcType=VARCHAR},
      </if>
      <if test="modifier != null">
        #{modifier,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.millionaire.millionaireadminservice.module.BackstageUsers">
    update backstage_users
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="salt != null">
        salt = #{salt,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="roleId != null">
        role_id = #{roleId,jdbcType=BIGINT},
      </if>
      <if test="gmtUpdate != null">
        gmt_update = #{gmtUpdate,jdbcType=BIGINT},
      </if>
      <if test="gmtCreate != null">
        gmt_create = #{gmtCreate,jdbcType=BIGINT},
      </if>
      <if test="founder != null">
        founder = #{founder,jdbcType=VARCHAR},
      </if>
      <if test="modifier != null">
        modifier = #{modifier,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.millionaire.millionaireadminservice.module.BackstageUsers">
    update backstage_users
    set
      password = #{password,jdbcType=VARCHAR},
      salt = #{salt,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=VARCHAR},
      role_id = #{roleId,jdbcType=BIGINT},
      gmt_update = #{gmtUpdate,jdbcType=BIGINT},
      modifier = #{modifier,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updatePassword" parameterType="com.millionaire.millionaireadminservice.module.BackstageUsers">
    UPDATE backstage_users
    SET password = #{password,jdbcType=VARCHAR},
    salt = #{salt,jdbcType=VARCHAR},
     gmt_update = #{gmtUpdate,jdbcType=BIGINT},
    modifier = #{modifier,jdbcType=VARCHAR}
    WHERE id = #{id,jdbcType=BIGINT}
  </update>
  <select id="findByNameOrRole" parameterType="com.millionaire.millionaireadminservice.module.BackstageUsers"  resultType="com.millionaire.millionaireadminservice.module.BackstageUserDTO">
    SELECT
    backstage_users.id as id,
    backstage_users.name as name,
    backstage_users.founder as founder,
    backstage_users.modifier as modifier,
    backstage_users.gmt_create as gmtCreate,
    backstage_users.gmt_update as gmtUpdate,
    roles.role_name as roleName
    FROM backstage_users INNER JOIN roles
    ON backstage_users.role_id=roles.id
    <where>
      <if test="name != null ">
        name LIKE '%${name}%'
      </if>
      <if test="roleId != null">
        AND role_id=#{roleId}
      </if>
    </where>
  </select>
    <select id="findByName" resultMap="BackstageUsers">
        SELECT
        <include refid="Base_Column_List"/>
        FROM backstage_users
        WHERE name=#{name}
    </select>
  <select id="findById" resultType="com.millionaire.millionaireadminservice.module.BackstageUserDTO">
    SELECT
    backstage_users.id as id,
    backstage_users.name as name,
    backstage_users.founder as founder,
    backstage_users.modifier as modifier,
    backstage_users.gmt_create as gmtCreate,
    backstage_users.gmt_update as gmtUpdate,
    roles.role_name as roleName
    FROM backstage_users INNER JOIN roles
    ON backstage_users.role_id=roles.id
    WHERE backstage_users.id=#{id}
  </select>
</mapper>