<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.millionaire.millionairemanagerservice.dao.MessagePlatformMapper">
  <resultMap id="BaseResultMap" type="com.millionaire.millionairemanagerservice.module.MessagePlatform">
    <constructor>
      <idArg column="id" javaType="java.lang.Long" jdbcType="BIGINT" />
      <arg column="title" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="sending_crowd" javaType="java.lang.Byte" jdbcType="TINYINT" />
      <arg column="brief" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="content" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="type" javaType="java.lang.Byte" jdbcType="TINYINT" />
      <arg column="timing_time" javaType="java.lang.Long" jdbcType="BIGINT" />
      <arg column="status" javaType="java.lang.Byte" jdbcType="TINYINT" />
      <arg column="editors" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="gmt_create" javaType="java.lang.Long" jdbcType="BIGINT" />
      <arg column="gmt_update" javaType="java.lang.Long" jdbcType="BIGINT" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List">
    id, title, sending_crowd, brief, content, type, timing_time, status, editors, gmt_create, 
    gmt_update
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from message_platform
    where id = #{id,jdbcType=BIGINT}
  </select>


    <select id="selectByQuery"  resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from message_platform
       <where>
           <if test="title != null">
               title = #{title,jdbcType=VARCHAR}
           </if>
           <if test="sendingCrowd != null">
             and  sending_crowd = #{sendingCrowd,jdbcType=TINYINT}
           </if>
           <if test="status != null">
              and status = #{status,jdbcType=TINYINT}
           </if>
           <if test="editors != null">
             and  editors = #{editors,jdbcType=VARCHAR}
           </if>
           <if test="lowerDate != null">
             and  gmt_update  <![CDATA[ >= ]]>  #{lowerDate,jdbcType=BIGINT}
           </if>
           <if test="upperDate != null">
             and  gmt_update  <![CDATA[ <= ]]>  #{upperDate,jdbcType=BIGINT}
           </if>
       </where>
    </select>




    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from message_platform
    where id = #{id,jdbcType=BIGINT}
  </delete>




  <insert id="insert" parameterType="com.millionaire.millionairemanagerservice.module.MessagePlatform" useGeneratedKeys="true" keyProperty="id">
    insert into message_platform (title, sending_crowd,
      brief, content, type, 
      timing_time, status, editors, 
      gmt_create, gmt_update)
    values (#{title,jdbcType=VARCHAR}, #{sendingCrowd,jdbcType=TINYINT},
      #{brief,jdbcType=VARCHAR}, #{content,jdbcType=VARCHAR}, #{type,jdbcType=TINYINT}, 
      #{timingTime,jdbcType=BIGINT}, #{status,jdbcType=TINYINT}, #{editors,jdbcType=VARCHAR},
      #{gmtCreate,jdbcType=BIGINT}, #{gmtUpdate,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="com.millionaire.millionairemanagerservice.module.MessagePlatform" useGeneratedKeys="true" keyProperty="id">
    insert into message_platform
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="title != null">
        title,
      </if>
      <if test="sendingCrowd != null">
        sending_crowd,
      </if>
      <if test="brief != null">
        brief,
      </if>
      <if test="content != null">
        content,
      </if>
      <if test="type != null">
        type,
      </if>
      <if test="timingTime != null">
        timing_time,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="editors != null">
        editors,
      </if>
      <if test="gmtCreate != null">
        gmt_create,
      </if>
      <if test="gmtUpdate != null">
        gmt_update,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="title != null">
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="sendingCrowd != null">
        #{sendingCrowd,jdbcType=TINYINT},
      </if>
      <if test="brief != null">
        #{brief,jdbcType=VARCHAR},
      </if>
      <if test="content != null">
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        #{type,jdbcType=TINYINT},
      </if>
      <if test="timingTime != null">
        #{timingTime,jdbcType=BIGINT},
      </if>
      <if test="status != null">
        #{status,jdbcType=TINYINT},
      </if>
      <if test="editors != null">
        #{editors,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreate != null">
        #{gmtCreate,jdbcType=BIGINT},
      </if>
      <if test="gmtUpdate != null">
        #{gmtUpdate,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.millionaire.millionairemanagerservice.module.MessagePlatform">
    update message_platform
    <set>
      <if test="title != null">
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="sendingCrowd != null">
        sending_crowd = #{sendingCrowd,jdbcType=TINYINT},
      </if>
      <if test="brief != null">
        brief = #{brief,jdbcType=VARCHAR},
      </if>
      <if test="content != null">
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        type = #{type,jdbcType=TINYINT},
      </if>
      <if test="timingTime != null">
        timing_time = #{timingTime,jdbcType=BIGINT},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=TINYINT},
      </if>
      <if test="editors != null">
        editors = #{editors,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreate != null">
        gmt_create = #{gmtCreate,jdbcType=BIGINT},
      </if>
      <if test="gmtUpdate != null">
        gmt_update = #{gmtUpdate,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.millionaire.millionairemanagerservice.module.MessagePlatform">
    update message_platform
    set title = #{title,jdbcType=VARCHAR},
      sending_crowd = #{sendingCrowd,jdbcType=TINYINT},
      brief = #{brief,jdbcType=VARCHAR},
      content = #{content,jdbcType=VARCHAR},
      type = #{type,jdbcType=TINYINT},
      timing_time = #{timingTime,jdbcType=BIGINT},
      status = #{status,jdbcType=TINYINT},
      editors = #{editors,jdbcType=VARCHAR},
      gmt_create = #{gmtCreate,jdbcType=BIGINT},
      gmt_update = #{gmtUpdate,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>